
body {
background-color: whitesmoke;
transition: 1s ease;
}

#quoteDisplay {
color: black;
text-align: center;
align-items: center;
margin: 2rem;
font-size: 1.5rem;
font-family: 'Open Sans', sans-serif;
}

.mainContent {
text-align: center;
align-items: center;
font-family: 'Open Sans', sans-serif;
}

button {
font-family: 'Open Sans', sans-serif;
border-radius: 1rem;
}